[Unit]
Description=Centrifuge Chain Node Health Monitoring

[Service]
User={{ project }}
Group={{ project }}
Environment=ROUTING_KEY={{ monitoring_alert_key }}
Environment=SOURCE_NODE={{ vpnpeer_address }}
Environment=CENT_ENV={{ chain }}
ExecStart=/usr/local/bin/start-monitoring.sh

Restart=always

[Install]
WantedBy=multi-user.target
