[Unit]
Description=Monitor

[Service]
User={{ project }}
Group={{ project }}
ExecStart=/usr/local/bin/monitor \
  -name={{ hostvars[inventory_hostname].validator_name }} \
  {% if monitor_frequency is defined and monitor_frequency|length %}
  -monitor-frequency={{ monitor_frequency }} \
  {% endif %}
  {% if pagerduty_api_key is defined and pagerduty_api_key|length %}
  -pagerduty-api-key={{ pagerduty_api_key }} \
  {% endif %}
  {% if decimal is defined and decimal|length %}
  -payout-decimals={{ decimal }} \
  {% endif %}
  {% if symbol is defined and symbol|length %}
  -payout-unit={{ symbol }} \
  {% endif %}
  {% if payout_hot_wallet_uri is defined and payout_hot_wallet_uri|length %}
  -payout-hot-wallet-uri={{ payout_hot_wallet_uri }} \
  {% endif %}
  {% if validator_stash is defined and validator_stash|length %}
  -payout-stash={{ validator_stash }} \
  {% endif %}
  {% if telegram_chat_id is defined and telegram_chat_id|length %}
  -telegram-chat-id={{ telegram_chat_id }} \
  {% endif %}
  {% if telegram_key is defined and telegram_key|length %}
  -telegram-key={{ telegram_key }} \
  {% endif %}
  {% if telegram_bot_username is defined and telegram_bot_username|length %}
  -telegram-bot-username={{ telegram_bot_username }} \
  {% endif %}
  {% if telegram_severity is defined and telegram_severity|length %}
  -telegram-severity={{ telegram_severity }}
  {% endif %}

Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
